<CascadingAuthenticationState>
    <Blazorise.ThemeProvider Theme="@theme">
        <Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <div class="cm-content">
                            @if (!context.User.Identity.IsAuthenticated)
                            {
                                <RedirectToLogin />
                            }
                            else
                            {
                                <p>You are not authorized to access this resource.</p>
                            }
                        </div>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <div class="cm-content">
                        <p>Sorry, there's nothing at this address.</p>
                    </div>
                </LayoutView>
            </NotFound>
        </Router>
    </Blazorise.ThemeProvider>
</CascadingAuthenticationState>

@code {
    private Theme theme = new Theme 
    {
        ColorOptions = new ThemeColorOptions
        {
            Primary = "#e1477e"
        },
        IsGradient = true,
        IsRounded = false,
        Black = "#181818",
        White = "#222222",
        InputOptions = new ThemeInputOptions 
        {
            Color = "#e1477e",
            CheckColor = "#e1477e",
            SliderColor = "#e1477e",
            BorderRadius = "1px"
        }
    };
}